main {
    .info {
        margin: 150px auto 40px;
        width: 700px;
        position: relative;

        .up {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 4px solid rgb(150, 150, 150);
            margin: auto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -100px;
            background-color: rgb(238, 238, 238);

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .down {
            width: 100%;
            height: 270px;
            background-color: rgb(238, 238, 238);
            border-radius: 50px;
            border: 4px solid rgb(150, 150, 150);
            text-align: center;

            h2 {
                margin-top: 100px;
                font-style: italic;
            }
            p {
                font-size: 22px;
                font-style: italic;
                
                span {
                    font-weight: bold;
                }
            }
            a {
                button {
                    width: 220px;
                    height: 40px;
                    background-color: rgb(180, 0, 0);
                    margin-bottom: 35px;
                    border: 4px solid rgb(209, 209, 209);
                    border-radius: 20px;
                    font-weight: bold;
                    font-style: italic;
                    color: white;
                }
            }
        }
    }
    hr {
        width: 100%;
        border: 2px solid black;
    }
    .cardBox {
        width: 100%;
        display: flex;

        .container1 {
            border-left: 2px solid gray;
            border-right: 2px solid gray;
        }
        .container2 {
            border-right: 2px solid gray;
        }
        .container1, .container2 {
            width: 50%;
            margin-bottom: 30px;

            .up {
                width: 100%;
                text-align: center;

                h3 {
                    font-style: italic;
                    margin-bottom: 12px;
                }
                button {
                    width: 80%;
                    height: 40px;
                    background-color: rgb(0, 98, 255);
                    margin-bottom: 35px;
                    border: 4px solid rgb(209, 209, 209);
                    border-radius: 20px;
                    font-weight: bold;
                    font-style: italic;
                    color: white;
                }
            }
            .content {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;

                .box {
                    width: 300px;
                    height: 400px;
                    border: 4px solid rgb(175, 175, 175);
                    border-radius: 20px;
                    box-shadow: 0px 0px 10px gray;
                    margin-bottom: 40px;
                    transition: all 0.5s;
                    text-align: center;
                    background-color: white;
                    position: relative;

                    &:hover {
                        transform: translate(-10px, -10px);
                        box-shadow: 4px 4px 20px rgb(85, 85, 85);
                        transition: all 0.5s;
                    }

                    .imageBox {
                        width: 270px;
                        height: 270px;
                        border: 2px solid rgb(175, 175, 175);
                        border-radius: 15px;
                        box-shadow: 0px 0px 7px gray;
                        margin: auto;
                        margin-top: 10px;
                        background-size: cover;
                        background-position: center;
                    }
                    p {
                        margin: 10px;
                        font-weight: bold;
                        font-style: italic;
                    }
                    a {
                        text-decoration: none;

                        button {
                            width: 90%;
                            border: 2px solid rgb(175, 175, 175);
                            border-radius: 10px;
                            box-shadow: 0px 0px 7px gray;
                            cursor: pointer;
                            font-weight: bold;
                            font-style: italic;
                            background-color: rgb(237, 56, 56);
                            position: absolute;
                            bottom: 15px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }
}