main {
    width: 100%;
    min-height: 650px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;

    form {
        width: 380px;
        border: 3px solid black;
        border-radius: 10px;
        text-align: center;

        h2 {
            margin-top: 20px;
        }

        label {
            margin-bottom: 5px;
        }
        input {
            width: 90% !important;
            height: 25px;
            margin: auto;
            margin-bottom: 12px;
            border: 2px solid black !important;
        }
        #submitBTN {
            height: 40px;
            margin-top: 20px;
            margin-bottom: 25px;
        }
    }
    .alert.alert-danger {
        height: 70px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #login {
        height: 300px;
    }
    #changePassword {
        height: 370px;
        margin-top: 50px !important;
    }
}
#main {
    min-height: 539px;

    form {
        margin-top: 90px;
    }
}