.carousel-inner {
    margin-top: 30px;
    height: 599px;
    border: 4px solid rgb(255, 0, 0);
    border-radius: 30px;
    box-shadow: 0px 0px 10px red;


    .carousel-item.active, .carousel-item {
        height: 100%;
        position: relative;
        
        img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
#box {
    display: flex;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
        width: 47%;
        text-decoration: none;

        .left, .right {
            width: 100%;
            height: 400px;
            border: 4px solid rgb(255, 0, 0);
            border-radius: 30px;
            box-shadow: 0px 0px 10px red;
            cursor: pointer;
            transition: all;
            transition-duration: 0.5s;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                text-decoration: none;
                font-size: 32px;
                color: white;
                text-shadow: 0px 0px 4px yellow;
                font-style: italic;
                font-weight: bold;
            }

            &:hover {
                transition: all;
                transition-duration: 0.5s;
                scale: 1.04;
            }
        }
        .left {
            background-image: url(/static/images/pcPageWallpaper.jpg);
            background-size: cover;
        }
        .right {
            background-image: url(/static/images/laptopsPageWallpaper.jpg);
            background-size: cover;
        }
    }
}
main {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    hr {
        width: 100%;
        border: 2px solid black;
    }

    .box {
        width: 300px;
        height: 400px;
        border: 4px solid rgb(175, 175, 175);
        border-radius: 20px;
        box-shadow: 0px 0px 10px gray;
        margin-bottom: 40px;
        margin-top: 40px;
        transition: all 0.5s;
        text-align: center;
        background-color: white;
        position: relative;

        &:hover {
            transform: translate(-10px, -10px);
            box-shadow: 4px 4px 20px rgb(85, 85, 85);
            transition: all 0.5s;
        }

        .imageBox {
            width: 270px;
            height: 270px;
            border: 2px solid rgb(175, 175, 175);
            border-radius: 15px;
            box-shadow: 0px 0px 7px gray;
            margin: auto;
            margin-top: 10px;
            background-size: cover;
            background-position: center;
        }
        p {
            margin: 10px;
            font-weight: bold;
            font-style: italic;
        }
        a {
            text-decoration: none;

            button {
                width: 90%;
                border: 2px solid rgb(175, 175, 175);
                border-radius: 10px;
                box-shadow: 0px 0px 7px gray;
                cursor: pointer;
                font-weight: bold;
                font-style: italic;
                background-color: rgb(237, 56, 56);
                position: absolute;
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}