{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block css %} <link rel="stylesheet" href="/static/products.css"> {% endblock %}

{% block content %}
<main>
    {% for laptop in laptops %}
        <div class="box">
            <div class="imageBox" style="background-image: url({{laptop.image}});"></div>
            <p>{{laptop.brand}} - {{laptop.processor}} - {{laptop.video_card}}</p>
            <a href="/Laptop_Info/{{laptop.id}}"><button>{{laptop.price}}$ - More Info</button></a>
        </div>
    {% endfor %}
</main>
{% endblock %}